
.map-booking {
	width: 100%;
	height: 100%;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.booking-form-card {
	padding: 2rem;
	.input-group-addon, .form-control, .custom-select {
		padding: .75rem 1rem;
	}
	.custom-select {
		height: calc(3rem + 2px);
	}
	.book-submit {
		font-size: .85rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
		padding: .75rem 1.5rem;

		&.btn-outline-secondary {
			border-color: $border-color;
			border-width: 2px;
			color: $color-text;
		}
	}

	@include breakpoint($medium-min) {
		padding-right: 2rem;
		padding-top: 3rem;
	}
}

.addon-like-input {
	&.input-group-addon {
		background-color: #fff;

		.custom-control {
			margin: 0;
		}
	}
}

.field-join {
	.input-group {
		.input-group-addon {
			border-radius: .25rem;
		}
		&:first-child {
			.input-group-addon {
				border-bottom-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			.form-control, .custom-select {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&:last-child {
			.input-group-addon {
				margin-top: -1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			.form-control, .custom-select {
				margin-top: -1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}	
}

.map-block-overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 5;
}

.bfc-title {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1rem;
}
.your-cost {
	margin: 2.5rem 0;
}
.booking-confrim {
	.bfc-title {
		font-size: .875rem;
		margin-top: 2rem;
	}

	.table {
		tr {
			td {
				padding: 1rem;
				border-color: #fff;
				background-color: #f6f6f7;
			}
		}
	}
}

.confrim-list {
	list-style: none;
	padding: 0;
	margin: 0 0 10px;
	li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		span {
			background-color: #f6f6f7;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding: .75rem 1rem;
			&:first-child {
				flex: 0 0 30%;
				max-width: 30%;
				background-color: #eceeef;
				
			}
		}
		&:first-child {
			span {
				&:first-child {
					-webkit-border-top-left-radius: .25rem;
					border-top-left-radius: .25rem;
				}
				&:last-child {
					-webkit-border-top-right-radius: .25rem;
					border-top-right-radius: .25rem;
				}
			}
		}
		&:last-child {
			span {
				&:first-child {
					-webkit-border-bottom-left-radius: .25rem;
					border-bottom-left-radius: .25rem;
				}
				&:last-child {
					-webkit-border-bottom-right-radius: .25rem;
					border-bottom-right-radius: .25rem;
				}
			}
		}
	}
}


.map-fixed {
	padding-top: 62px;
	padding-bottom: 59px;
	.main-container, .main-content, .content-body, .booking-mapX {
		
	}
	.booking-mapX {
		> [class*="col-"] {

		}
	}
}

.booking-page-map {
	width: 100%;
	height: 100%;
	position: relative;

	.booking-map-block {
		position: fixed;
		left: 0;
		top: 62px;
		right: 0;
		bottom: 59px;
		width: 100%;
		z-index: 10;
	}
	.booking-map-exam {
		position: relative;		
		display: -webkit-box;		
		display: -ms-flexbox;		
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		  align-items: center;
		h5 {
			font-size: 1.15rem;
			text-transform: uppercase;
			margin-bottom: 0;
			color: $color-primary;
		}
	}
	.-bm-header {
		position: absolute;
		left: 10px;
		top: 50px;
		z-index: 20;
		padding: .5rem 1rem;
		background-color: #fff;
		@include border-radius(4px);
		.bm-toggle-cell {
			padding-right: .75rem;
		}
	}
	.-bm-body {
		.bm-toggle-cell {
			position: absolute;
			right: 0;
			top: 50%;
			-webkit-transform: -webkit-translateY(-50%);
			transform: translateY(-50%);
		}
	}	
	.map-toggler {
		padding: 0;
		background-color: transparent;
		@include border-radius(0);
		font-size: 1.75rem;
		line-height: 1;
		@include opacity(.5);
		@include transition(opacity .2s ease);

		&:hover, &:focus {
			@include opacity(.9);
		}
	}
	.map-booking {
		padding: 0;
		height: 100%;
	}

	.booking-map-content {
		width: 360px;
		position: fixed;
		left: 0;
		top: 62px;
		bottom: 59px;
		overflow: hidden;
		z-index: 50;
		background-color: #fff;
		padding: 2rem 0 2rem 1.25rem;
		@include transition(all .2s ease);
		-webkit-transform: -webkit-translateX(-100%);
		transform: translateX(-100%);
	}
	.booking-form-card {
		padding: 0;
	}
	.confrim-list li {
		font-size: 14px;
	}
	.confrim-list li span {
		padding: .5rem .75rem
	}
	.confrim-list li span:first-child {
	    flex: 0 0 40%;
	    max-width: 40%;
	}
}

.-map-open {
	.booking-map-content {
		-webkit-transform: -webkit-translateX(0);
		transform: translateX(0);
	}
	
	.-bm-header {
		display: none;
	}
}