
// .btn {

//   // Share hover and focus styles
//   @include hover-focus {
//     text-decoration: none;
//   }
//   &:focus,
//   &.focus {
//     outline: 0;
//     box-shadow: $btn-focus-box-shadow;
//   }

//   // Disabled comes first so active can properly restyle
//   &.disabled,
//   &:disabled {
//     opacity: .65;
//     @include box-shadow(none);
//   }

//   &:active,
//   &.active {
//     background-image: none;
//     @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
//   }
// }

// // Future-proof disabling of clicks on `<a>` elements
// a.btn.disabled,
// fieldset[disabled] a.btn {
//   pointer-events: none;
// }


// @each $color, $value in $theme-colors {
//   .btn-#{$color} {
//     @include button-variant($value, $value);
//   }
// }

// @each $color, $value in $theme-colors {
//   .btn-outline-#{$color} {
//     @include button-outline-variant($value, #fff);
//   }
// }

.btn {
	&.-site {
		padding: .5rem 1rem;
	}
}
.btn-primary {
  @include base-button-variant(#fff, $color-primary, $color-primary)
}

.btn-outline-primary {
  @include base-button-outline-variant($color-primary, $color-primary !important);
}
.primary-gradient {
	background: rgb(235,55,79);
	background: -moz-linear-gradient(left,  rgba(235,55,79,1) 0%, rgba(247,159,53,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(235,55,79,1) 0%,rgba(247,159,53,1) 100%);
	background: linear-gradient(to right,  rgba(235,55,79,1) 0%,rgba(247,159,53,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb374f', endColorstr='#f79f35',GradientType=1 );
	color: #fff;
	&:hover, &:focus {
		color: #fff;
	}
}