/* COMPONENTS */

@media only screen and (max-width: 991px) {
    .col-form-label-md-max-full {
        padding-top: 0 !important;
        padding-bottom: 0.313rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-form-label-md-full {
        padding-top: 0 !important;
        padding-bottom: 0.313rem !important;
    }
}


.table-round {
    @include border-radius(0.25rem);
}
.table-default {
    background-color: #fff;
    .table-ex-header {
        padding: 1.25rem;
        .ex-title {
            color: $color-primary;
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }


        .table-ex-header-row {
            display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;

                  .ex-ancore {
                      color: $color-text-lighter;
                      font-size: 0.75rem;
                      font-weight: 500;
                      letter-spacing: 0.05em;
                      text-transform: uppercase;
                      line-height: 1;
                      display: block;
                      &:hover, &:focus {
                          color: $color-primary;
                      }
                  }
        }

    }
    .table {
        th {
            border: none;
            font-size: 0.75rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            color: $color-muted-dark;
        }
        tbody {
            tr {
                &:hover {
                    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.07));
                }
            }
        }

    }
}


.table-stroked {
    border: 1px solid $border-color;
}

.table-thead-stroked {
    @extend .table-default;
    .table {
        th {
            background-color: transparent;
            @include opacity(0.75);
        }
    }
}

.has-datatable {
    @extend .table-default;
    border: 1px solid $border-color;
    padding: 15px 0;
    position: relative;
    .table-bordered {
        border-left: 0;
        border-right: 0;
    }

    select {
        &.form-control {
            height: calc(2.25rem + 2px);
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            line-height: 1.25;
            color: #464a4c;
            vertical-align: middle;
            background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
            -webkit-background-size: 8px 10px;
                    background-size: 8px 10px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    }
}

.table-responsive {
    &.has-datatable {
        > .dataTables_wrapper {
            > .row:nth-child(2) {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}
.table-td-vmiddle {
    td {
        vertical-align: middle;
    }
}
.table-large {
    .table {
        th, td {
            padding: 1.25rem;
        }
    }

    table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
        bottom: 1.6em;
    }
}

.has-inner-table {
    .table {
        .table {
            tr {
                &:hover {
                    @include box-shadow(none);
                }
            }
        }
        .table-loc-from-to {

        }
    }

    .has-table-inside {
        padding: 0 !important;
        .table {
            margin-bottom: 0;
            tr {
                &:first-child {
                    td {
                        border-top: none;
                    }
                }
            }
        }
    }
}








.me-feed {
    position: relative;

    .avater {
        display: block;
        float: left;
        height: auto;
        margin: 0;
        width: 3em;

        img {
            border-radius: 0.25rem;
            display: block;
            height: 100%;
            margin: 0 auto;
            width: 100%;
        }
    }
    .denote {
        margin-left: 4em;

        .meta-note {
            font-size: 0.75rem;
            color: $color-muted-dark;
        }
    }

}







.dropdown-default {
    .dropdown-menu {
        a {
            font-size: 0.75rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;

            i {
                margin-right: 5px;
            }
        }
    }
}

.dropdown {
    &.dropdown-arrow-off {
        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
    }
}

.btn-group-default {
    .btn-secondary {
        border-color: $border-color;
        &:hover, &:focus {
            color: $color-text;
        }
        &.active, &:active {
            border-color: $border-color;
            background-color: $border-color;
            color: $color-primary;
        }
    }
}
