.error-hero {
  width: 100%;
  min-height: 80%;
  padding: 4rem 0;
}
.hero-error-image {
  margin-bottom: 3rem;
}
.error-heading {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 15px;
}
.error-heading .error-heading-text {
    display: block;
    font-size: 5rem;
    color: #FAA435;
    letter-spacing: 0.08em;
}
.error-subtitle {
    font-size: 1.5rem;
}