.footer {
	position: relative;
	background-color: #fff;
	border-top: 1px solid $border-color;
	padding: 1.25rem 0;
	
}
.footer-logo {
	margin-bottom: 1rem;
}
.footer-label {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: $color-muted;
}
.footer-socials {
    list-style: none;
    padding: 0;
    margin: 0 -5px 1rem;
    li {
        padding: 0 5px 5px;
    }
    a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        width: 40px;
        height: 40px;
        font-size: 18px;
        color: lighten($color-text, 30%);
        border: 1px solid rgba(0, 0, 0, 0.1);
        @include border-radius(50%);
        &:hover, &:focus {
            border-color: $color-primary;
            color: $color-primary
        }
    }
}
.copy-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.063em;
}
.foo-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: -10px;
	li {
		display: inline-block;
		margin-left: 10px;
		color: $color-text;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.063em;
		color: #999;
		text-transform: uppercase;
	}
	a {
		color: $color-text;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.063em;
		color: #999;
		text-transform: uppercase;
		&:hover, &:focus {
			color: $color-primary;
		}
	}
}