.hero {
    position: relative;
    padding: 3rem 0;
    min-height: 550px;   
    @include background-variant(cover, center, no-repeat);
    &:before {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
    }

    

    .hero-heading {
        font-size: 2.5rem;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    .hero-text {
        font-size: 1.25rem;
        margin-top: 1rem;
        max-width: 510px;
    }
    .hero-btns {
        margin-top: 2rem;
        max-width: 400px;

        .btn {
            width: 100%;
        }
    }
    @include breakpoint($small-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    @include breakpoint($large-min) {
        .hero-heading {
            font-size: 5rem;
        }
    }
    @include breakpoint($extra-small-max) {
        padding-bottom: 1rem;
        min-height: auto
    }
}

.hero-form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 6px;

    @include breakpoint($extra-small-max) {
        position: relative;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
        [class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }


    .form-control, .custom-select, .btn {
        border-radius: 0;
        position: relative;
        margin-top: 10px;
    }
    // .form-control, .btn {
    //     padding: .5rem 1rem;
    // }
    // .custom-select {
    //     height: -webkit-calc(2.5rem + 2px);
    //     height: calc(2.5rem + 2px);
    //     padding: .5rem 2rem .5rem 1rem;
    // }

    .form-control {
        border-color: #ced4da;
    }

    .custom-select {
        &:focus {
            border-color: $color-primary;
        }
    }
    .form-control, .custom-select {
        &:focus {
            z-index: 3;
        }
    }
    .no-gutters {
        margin-left: 7px;
        > [class*="col-"] {
            margin-left: -1px;
        }
    }

    .input-group-prepend {
        margin-top: 10px;
        .input-group-text {
            color: $color-heading !important;
        }
        
    }
    .d-times-input .d-times {
        padding: .375rem .125rem;
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        background-color: #ced4da;
        margin-top: 10px;
        color: $color-heading;
    }
}
.hero-form-absolute {   
    width: 100%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.78);
    @include breakpoint($small-min) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.home-form {
    background-color: #f6f6f7;
    padding: 0 1.5rem 1.5rem;
    .t-container {
        margin-top: -40px;
    }
}
.nav-teaser-tabs {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 3.5rem auto 0;
    .nav-item {
        flex: 1 1 auto;
        padding-left: 1px;
        padding-right: 1px;
        &:first-child {
            .nav-link {
                border-top-left-radius: 4px;
            }
        }
        &:last-child {
            .nav-link {
                border-top-right-radius: 4px;
            }
        }
    }
    .nav-link {
        background-color: #fff;
        color: $color-text;
        text-transform: uppercase;
        &.active, &.show {
            background-color: rgba(255, 255, 255, 0.85);
            color: $color-heading;
        }
    }
}
.hero-form-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    li {
        display: flex;
        flex: 1 0 0%;
    }
    .hf-list-small {
        max-width: 160px;
    }
    @include breakpoint($extra-small-max) {
        li {
            flex: 0 0 100%;
            margin-bottom: 5px;
        }
        .hf-list-small {
            max-width: 100%;
        }
    }
}


.btn {
    &.btn-app {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
        .ba-icon {
            font-size: 2rem;
            padding-right: .65rem;
            line-height: 1;
        }
        .ba-lable {
            font-size: 10px;
            display: block;
            text-transform: uppercase;
        }
        .ba-text {
            font-size: 1rem;
            display: block;
        }

        &.btn-light {
            span {
                color: $color-text;
            }
        }
    }
}

.steps-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 48px 0;
        border-bottom: 1px solid rgba(33,33,33,0.12);
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        &:first-child {
            padding-top: 0;
        }

    }
    .step-number {
        opacity: 0.5;
        font-size: 64px;
        line-height: 0.75;
        height: 48px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-align: left;
        color: #bdbdbd;

    }
    .step-denote {
        margin-top: 0;
        margin-left: 24px;
    }
    .sd-title {
        font-size: 2rem;
        line-height: .75;
        margin-bottom: 1rem;
    }
    h5 {
        font-size: 1rem;
    }
}
.download-app-section {
    margin: 20px 0;
}

.form-text-app-link {
    width: 100%;
    max-width: 380px;

    .form-control {
        padding: .5rem 1rem;
    }
    .btn-outline-secondary {
        background-color: #fff;
        border-color: $border-color;
        text-transform: uppercase;
        font-size: 14px;
        padding: .5rem 1rem;
        color: $color-primary;
        &:hover, &:focus {
            background-color: #fff;
        }
    }
}


.app-slider-image-wrap {
    position: relative;
    width: 300px;
    @include breakpoint($small-max) {
        width: 260px;
    }
}
.app-slider-image-wrap .app-image {
    bottom: 0;
    left: 0;
    padding: 23.5% 6%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.app-slider-image-wrap .app-image .app-slider-image {
    border: 1px solid #111;
}
.app-slider-image-wrap .app-image .item-image img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.app-slider-image-wrap .app-slider-video {
    width: 100%;
    height: 100%;
    position: relative;
    video {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

.section-how-wrok {
    border-top: 1px solid #f6f6f7;
    border-bottom: 1px solid #f6f6f7;
}
.how-work-image {
    padding: 5rem;
    min-height: 600px;
    background-color: #f6f6f7;
    height: 100%;
    @include background-variant(cover, center, no-repeat);
}
.how-wrok-content {
    padding: 4rem 5rem;
    height: 100%;
    background-color: #f6f6f7;
    .section-header {
        margin-bottom: 40px;
    }
}
.how-work-content-inside {
    width: 100%;
    max-width: 470px;
}
.how-work-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        + li {
            margin-top: 2.5rem;
        }
    }
    .h-work-list-image {
        padding-right: 1.5rem;
        img {
            max-width: 52px;
            height: auto;
        }
    }
    h5 {
        font-weight: normal;
        line-height: 1.5;
        color: $color-text
    }
}

.section-featured {
    padding: 5rem 0;
    @include breakpoint($small-min) {
        padding: 10rem 0;
    } 
}

.card-featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    .c-featured-image {
        padding-right: 1.5rem;
        img {
            max-width: 65px;
        }
    }
    h4 {
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.section-manage-content-block {
    position: relative;
    + .section-manage-content-block {
        margin-top: 4rem;
    }
    .manage-conent-denote {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 2rem;
    }
    .manage-content-image {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    &.-left-denote {
        .manage-content-image { float: right; }
    }
    &.-right-denote {
        .manage-content-image { float: left; }
    }
}


.tab-vehicles-type {
    margin-bottom: 40px;
    li {

    }
    a {
        color: $color-text;
        text-align: center;
    }
    .vehicle-type-image {
        background-image: url('../images/vehicle/icon/truck.png');
        width: 80px;
        height: 80px;       
        background-size: auto 160px;
        overflow: hidden;
        background-color: #fff;
        background-position: 0 0;
        border: 1px solid #ddd;
        margin: 0 auto 1rem;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        @include breakpoint($large-min) {
            width: 100px;
            height: 100px;
            background-size: auto 200px;
        }
    }
    .nav-item-cover-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/cover-truck.png');
        }
    }
    .nav-item-pickup-van {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/pickup-van.png');
        }
    }
    .nav-item-mini-pickup-van {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/min-pickup-van.png');
        }
    }
    .nav-item-tanker-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/tanker-truck.png');
        }
    }
    .nav-item-bus {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/bus.png');
        }
    }
    .active {
        color: $color-primary;
        .vehicle-type-image {
            border-color: $color-primary;
            background-position: 0 -80px;
            @include breakpoint($large-min) {
                background-position: 0 -100px;
            }
        }
    }
}

.slider-vehicle-type-nav {
    margin-bottom: 40px;
    .slick-prev, .slick-next {
        width: 30px;
        height: 30px;
        top: 20px;
        -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
        transform: translate(0, 0%);
    }
    .slick-arrow {
        z-index: 10;      
    }
    .slick-prev:before,
    .slick-next:before {
        font-family: "Ionicons";
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
    }
    .slick-prev:before {
        content: "\f3d2"
    }
    .slick-next:before {
        content: "\f3d3"
    }
    .slick-prev, .slick-next {
        &:hover, &:focus {
            &:before {
                color: $color-primary;
            }
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slide-item {
        text-align: center;
        cursor: pointer;
        padding-left: 15px;
        padding-right: 15px;
    }
    .vehicle-type-image {
        background-image: url('../images/vehicle/icon/truck.png');
        width: 80px;
        height: 80px;       
        background-size: auto 160px;
        overflow: hidden;
        background-color: #fff;
        background-position: 0 0;
        border: 1px solid #ddd;
        margin: 0 auto 1rem;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        @include breakpoint($large-min) {
            width: 100px;
            height: 100px;
            background-size: auto 200px;
        }
    }
    .-item-cover-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/cover-truck.png');
        }
    }
    .-item-pickup-van {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/pickup-van.png');
        }
    }
    .-item-mini-pickup-van {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/min-pickup-van.png');
        }
    }
    .-item-tanker-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/tanker-truck.png');
        }
    }
    .-item-bus {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/bus.png');
        }
    }
    .-item-mini-bus {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/mini-bus.png');
        }
    }
    .-item-micro-bus {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/micro-bus.png');
        }
    }
    .-item-ambulance {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/ambulance.png');
        }
    }
    .-item-construction-vehicle {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/construction-vehicle.png');
        }
    }
    .-item-xl-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/xl-truck.png');
        }
    }
    .-item-mini-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/mini-truck.png');
        }
    }
    .-item-freezer-truck {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/freezer-truck.png');
        }
    }
    .-item-coaster-bus {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/coaster-bus.png');
        }
    }
    .-item-bus-ac {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/ac-bus.png');
        }
    }
    .-item-container-truck-20ft {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/container-truck-20.png');
        }
    }
    .-item-container-truck-40ft {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/containe-truck-40.png');
        }
    }
    .-item-car {
        .vehicle-type-image {
            background-image: url('../images/vehicle/icon/car.png');
        }
    }

    .slick-current {
        color: $color-primary;
        .vehicle-type-image {
            border-color: $color-primary;
            background-position: 0 -80px;
            @include breakpoint($large-min) {
                background-position: 0 -100px;
            }
        }
    }
}



.vehicle-info-lists {
    padding: 0;
    list-style: none;
}
.vehicle-name-capacity-section {
    h4 {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.vehicle-pricing {
    margin: 30px 0 0 ;
    padding: 36px;
    list-style: none;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    box-shadow: 0 0 23px 0 rgba(0,0,0,0.08);
    
    li {
        text-align: center;
    }
    .vehicle-value {
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-primary;
    }
}

.vehicle-conditions-explained {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    li {
        + li {
            margin-top: .5rem;
        }
    }
}
.section-choose {
    padding-bottom: calc(5rem - 50px);
}
.card-offer {
    margin-bottom: 50px;
    text-align: center;
    h4 {
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    img {
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto 1.5rem;
    }
    p {
        max-width: 280px;
        margin: 0 auto;
    }
}

.card-enterprises {
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, .09);
    .card-image {
        padding: 1rem;
    }
    .card-body {
        padding: 2rem;
    }
    .card-title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .card-btn {
        margin-top: 2rem;
    }
}


.section-feature-in {
    padding: 1rem 0;
    background-color: #f1f1f1;
}
.feature-in-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .feature-in-brands {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    .feature-in-appended {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-self: center;
        padding-right: 1rem;
    }
}
.feature-in-logo {
    line-height: 50px;
    display: block;
    img {
        max-height: 50px;
        width: auto;
    }
}

.brands-list {
    list-style: none;
    padding: 0;
    margin: 0 -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

    li {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    img {
        max-height: 50px;
        width: auto;
    }
}

.coming-soon {
    position: relative;
    &:before {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F6F6F7;
        opacity: .9;
        z-index: 23;
    }
    &:after {
        content: " Coming Soon";
        color: $color-heading;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
        -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3rem;
        z-index: 25;        
    }
}