@font-face {
    font-family: 'KumarkhaliMJ';
    src: url('../fonts/kumarkhaliMJ/KumarkhaliMJ-BoldItalic.woff2') format('woff2'),
        url('../fonts/kumarkhaliMJ/KumarkhaliMJ-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'KumarkhaliMJ';
    src: url('../fonts/kumarkhaliMJ/KumarkhaliMJ.woff2') format('woff2'),
        url('../fonts/kumarkhaliMJ/KumarkhaliMJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KumarkhaliOMJ';
    src: url('../fonts/kumarkhaliMJ/KumarkhaliOMJ.woff2') format('woff2'),
        url('../fonts/kumarkhaliMJ/KumarkhaliOMJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KumarkhaliMJ';
    src: url('../fonts/kumarkhaliMJ/KumarkhaliMJ-Bold.woff2') format('woff2'),
        url('../fonts/kumarkhaliMJ/KumarkhaliMJ-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KumarkhaliMJ';
    src: url('../fonts/kumarkhaliMJ/KumarkhaliMJ-Italic.woff2') format('woff2'),
        url('../fonts/kumarkhaliMJ/KumarkhaliMJ-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

