
@mixin base-button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:focus,
	&.focus {
  	color: $color;
  	background-color: darken($background, 10%);
  	border-color: darken($border, 25%);
	}
	&:hover {
    	color: $color;
    	background-color: darken($background, 10%);
	    border-color: darken($border, 12%);
	}
}

@mixin base-button-outline-variant($color, $border) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $border;

  &:focus,
  &.focus {
    background-color: $color;
    color: #fff;
  }
  &:hover {
    background-color: $color;
    color: #fff;
  }
}




// @mixin button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%)) {
//   @include color-yiq($background);
//   background-color: $background;
//   border-color: $border;
//   @include box-shadow($btn-box-shadow);

//   &:hover {
//     @include color-yiq($background);
//     background-color: $active-background;
//     border-color: $active-border;
//   }

//   &:focus,
//   &.focus {
//     // Avoid using mixin so we can pass custom focus shadow properly
//     @if $enable-shadows {
//       box-shadow: $btn-box-shadow, 0 0 0 3px rgba($border, .5);
//     } @else {
//       box-shadow: 0 0 0 3px rgba($border, .5);
//     }
//   }

//   &.disabled,
//   &:disabled {
//     background-color: $background;
//     border-color: $border;
//   }

//   &:active,
//   &.active,
//   .show > &.dropdown-toggle {
//     background-color: $active-background;
//     background-image: none; 
//     border-color: $active-border;
//     @include box-shadow($btn-active-box-shadow);
//   }
// }




@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin base-font-variant($family, $size, $weight, $color, $line-height) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	color: $color;
	line-height: $line-height;
}

@mixin background-variant($size, $position, $repeat) {
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}


// Border radius shorthand
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Box-shadow shorthand
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}

@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}



// Media query shorthand
@mixin breakpoint($media) {
    @media only screen and #{$media} {
        @content;
    }
}

// Transitions shorthand
@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition-property($transition-property...) {
  -webkit-transition-property: $transition-property;
          transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  -webkit-transition-duration: $transition-duration;
          transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
          transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}



// Transform shorthand
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
@mixin scale3d($scale) {
  @include transform(scale3d($scale));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
@mixin translateX ($x) {
  @include transform(translateX($x));
}
@mixin translateY ($y) {
  @include transform(translateY($y));
}

// Skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}
// filter shorthand
@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}




@mixin gradient-vertical($start-color: $color-secondary, $end-color: $color-primary, $start-percent: 0%, $end-percent: 80%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}
@mixin gradient-vertical-four-colors($color-one: rgba(0, 0, 0, 0), $color-one-stop: 0px, $color-two: rgba(0, 0, 0, 0.1), $color-two-stop: 20%, $color-three: rgba(0, 0, 0, 0.6), $color-three-stop: 60%, $color-four: rgba(0, 0, 0, 0.9), $color-four-stop: 100%) {
	background-image: -webkit-linear-gradient(top, $color-one $color-one-stop, $color-two $color-two-stop, $color-three $color-three-stop, $color-four $color-four-stop);
	background-image: -o-linear-gradient(top, $color-one $color-one-stop, $color-two $color-two-stop, $color-three $color-three-stop, $color-four $color-four-stop);
	background-image: linear-gradient(to bottom, $color-one $color-one-stop, $color-two $color-two-stop, $color-three $color-three-stop, $color-four $color-four-stop);
}
