.page-hero {
    position: relative;
    padding: 3rem 0;   
    @include background-variant(cover, center, no-repeat);
    &:before {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(235,55,79);
		background: -moz-linear-gradient(left,  rgba(235,55,79,1) 0%, rgba(247,159,53,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(235,55,79,1) 0%,rgba(247,159,53,1) 100%);
		background: linear-gradient(to right,  rgba(235,55,79,1) 0%,rgba(247,159,53,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb374f', endColorstr='#f79f35',GradientType=1 );
    }

    

    .hero-heading {
        font-size: 2.5rem;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 0;
    }

    @include breakpoint($small-min) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    @include breakpoint($large-min) {
        .hero-heading {
            font-size: 3.5rem;
        }
    }
}

.hero-authorize-reg {

}

.s-flex {
    &:first-child {
        border-top: 1px solid #f1f1f1;
    }
    &:last-child {
        border-bottom: 1px solid #f1f1f1;
    }
    position: relative;
    .s-image {
        position: relative;
        height: 580px;
    }
    .s-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .s-steps-list {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.25rem;

        li {
            display: flex;
            + li {
                margin-top: 1.25rem;
            }
        }
        .s-number {
            opacity: 0.5;
            font-size: 42px;
            line-height: 0.75;
            height: 42px;
            font-weight: 600;
            letter-spacing: 0.6px;
            text-align: left;
            color: #bdbdbd;
            margin-top: 5px;
        }
        .s-denote {
            padding-left: 24px;
        }
    }
    @media (min-width: 768px) {
        .s-image {
            width: 50%;
        }
        .s-title {
            font-size: 2rem;
            margin-bottom: 1.75rem;
        }
        .s-content-flow {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &.-left-image {
            .s-content {
                padding-left: 50px;
            }  
        }
        &.-right-image {
            .s-content {
                padding-right: 50px;
            }
            .s-image {
                margin-left: auto
            }
        }
    }
    @media (min-width: 1200px) { 
        &.-left-image {
            .s-content {
                padding-left: 70px;
            }  
        }
        &.-right-image {
            .s-content {
                padding-right: 80px;
            }
        }
    }
}

.s-customer-card {
    padding: 3rem 0;
    background-color: #f1f1f1;
}

