@include breakpoint($extra-small-max) {
	.mt-small-30 { margin-top: 30px !important}
	.mt-small-40 { margin-top: 40px !important}
	.mt-small-50 { margin-top: 50px !important}
	.mb-small-30 { margin-bottom: 30px !important}
	.mb-small-40 { margin-bottom: 40px !important}
	.mb-small-50 { margin-bottom: 50px !important}


	.section-manage-content-block {
		display: flex;
		flex-flow: column wrap;
		.manage-conent-denote, .manage-content-image {
			position: relative;
		}
		.manage-content-image {
			width: 100%;
			float: none;
			margin-bottom: 2rem;
		}	
		&.-left-denote {
			.manage-content-image {
				order: 1;
			}
			.manage-conent-denote {
				order: 2;
			}
		}
	}

	.app-slider-image-wrap {
		margin-left: auto;
		margin-right: auto;
	}
	.hero-btns {
		a {
			margin-bottom: 5px;
		}
	}
	.copy-info, .foo-nav {
		text-align: center;
	}

}