.table-site-primary {
	background-color: #fff;
	border: 1px solid #f1f1f1;
	@include border-radius(8px);
	@include box-shadow(0 0 10px 5px rgba(0, 0, 0, 0.02));

	.table {
		margin-bottom: 0;
	}
}
.table {
	&.table-listview {
		th, td {
			padding: 20px;
		}
		thead {
			th {
				background-color: $color-primary;
				vertical-align: bottom;
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.06em;
				color: #fff;
				border-bottom: 0;
				padding-top: 15px;
				padding-bottom: 15px;
				&:first-child {
					@include border-radius(7px 0 0 0);
				}
				&:last-child {
					@include border-radius(0 7px 0 0);
				}
			}
		}
		tr {
			position: relative;
		}
		td {
			vertical-align: middle;
		}
		.text-name {
			font-size: 18px;
			color: $color-heading;
		}
		tbody {
			tr {
				-webkit-transition: box-shadow 0.2s ease-in;
				transition: box-shadow 0.2s ease-in;
				&:hover {
					z-index: 5;
					@include box-shadow(0 0 30px 10px rgba(0, 0, 0, 0.07));
				}
			}
			td {
				border-top-color: #f1f1f1;
			}
		}

		.td-action-group {
			margin: 0 -2px;
			padding: 0;
			list-style: none;
			white-space: nowrap;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			li {
				padding-left: 2px;
				padding-right: 2px;
			}
			.btn {
				border: 0;
				width: 26px;
				height: 26px;
				line-height: 26px;
				padding: 0;
				font-size: 12px;
				color: $color-text;
				@include border-radius(50%);
				&:hover {
					background-color: $color-primary;
					color: #fff;
				}
			}
		}
	}
}